 /* default */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 * {
    font-family: def;
 }

 a {
    text-decoration: none;
 }

 ul li {
    list-style: none;
 }

 @font-face {
    font-family: def;
    src: url(/fonts/static/Inter-Medium.ttf);
 }

 /* End default */

 /* header */
 #container {
    width: 85%;
    margin: auto;
 }

 #header {
    background-color: rgb(255, 107, 129);
    padding: 30px;


 }

 .hamburger-menu {
    display: none;
 }

 .header-icon {
    height: 10%;
    width: 12%;
 }

 #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .middle ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .list li {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 body,
 html {
    height: 100%;
 }

 .middle li a {
    color: #fff;
    margin: 0px 20px;
    font-size: 18px;
 }

 .header-button a {
    color: #fff;
    padding: 10px 30px;

 }

 .header-button {
    border: 2px solid #fff;
    padding: 10px 3px;
    border-radius: 5%;
 }

 .header-button:hover {
    background-color: #fff;
 }

 .header-button a:hover {
    color: rgb(255, 107, 129);
 }

 .main {
    background-color: rgb(255, 107, 129);
    margin-top: 20px;
 }

 .row {
    display: flex;
    align-items: center;

 }

 .row-1 h1 {
    margin-bottom: 30px;
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 20px;
 }

 .row-1 p {
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
 }

 .but {
    display: flex;

 }

 .but a {
    color: #fff;
 }

 .bt-1 {
    width: 125px;
    padding: 17px 0px;
    padding-left: 5px;
    border: 1px solid #fff;
    border-radius: 7px;
    background-color: #fff;
    margin-right: 20px;

 }

 .bt-1 a {
    color: rgb(255, 107, 129);
 }

 .bt-1 * {
    margin-left: 5px;
 }

 /* a ya margin verib yoxla */
 .bt-1 a:hover {
    color: #081828;
 }

 .bt-2 {
    width: 135px;
    padding: 17px 11px;
    border: 1px solid #fff;
    border-radius: 7px;
 }

 /* .bt-2 * {
 
} */


 /* End header */

 /* features */
 #container-2 {
    width: 50%;
    margin: auto;
 }

 .cont {
    width: 85%;
    margin: auto;
    margin-top: 65px;
 }

 #container-2 h3 {
    font-size: 18px;
    color: rgb(255, 107, 129);
    font-weight: 600;
 }

 #features {
    background-color: #F9F9F9;
 }

 .rows {
    transition-timing-function: ease-in-out;

 }

 .contents {
    text-align: center;
    padding: 100px 0px;
 }

 .contents h2 {
    margin: 0px 0px 25px;
    font-size: 34px;
 }

 .row-uno {
    display: flex;
    margin-bottom: 30px;
 }

 .row-dos {
    display: flex;
 }

 .icons {
    background-color: rgb(255, 107, 129);
    display: inline;
    border-radius: 5%;
    box-shadow: 1px 1px 1px #6c757d;
    margin-left: 10px;
 }

 .row-item {
    height: 300px;
    width: 400px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #E3D2D2;
    border-radius: 3%;
    transition: all 0.4s ease-in-out;

 }

 .icons {
    display: block;
    font-size: 12px;
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin: 14px 0px;
    padding-left: 10px;
 }

 .rows i {
    position: relative;
    top: 8%;
    left: 38%;
    font-size: 17px;
    color: #fff;
 }

 .cont * {
    padding: 10px 0px;
    transition: all 0.4s ease-in-out;

 }



 .row-item:hover {
    transition: all 0.4s ease-in-out;
    transform: translateY(-5px);
    box-shadow: 1px 1px 3px #6c757d;
 }


 /* end features */

 /* side */

 .side {
    background-color: #FFFFFF;


 }

 .side-p2 {
    display: flex;
    align-items: center;
    justify-content: center;

 }

 .side-icon {
    display: block;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 107, 129);
    color: #fff;
    border-radius: 6px;
 }

 .side-icon i {
    position: relative;
    top: 27%;
    left: 34%;
    font-size: 20px;
 }

 .side-p2 {
    display: flex;
 }

 .side-a {
    background-color: rgb(255, 107, 129);
    width: 110px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }

 .side-a a {
    color: #fff;

 }

 .sss p {
    margin: 30px 0px;
 }

 /*end side  */
 /* side-2 */
 .side-22 {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .sss .xbox {
    margin: 30px 0px;
 }

 .xbox {
    background-color: rgb(255, 107, 129);
    width: 60px;
    height: 60px;
    border-radius: 6px;
 }

 .xbox i {
    color: #fff;
    position: relative;
    top: 35%;
    left: 35%;
 }

 /* End side-2 */
 /*  */
 .bar {
    background-color: rgb(255, 107, 129);
    text-align: center;
 }

 .bar * {
    color: #fff;
 }

 .info {
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
 }

 /*  */
 /*Pricing Plan  */
 .plans {
    background-color: #F9F9F9;

 }

 .plans * {
    margin-bottom: 30px;
 }

 .pricing {
    text-align: center;
 }

 .price {
    display: flex;
    font-size: 35px;
 }

 .cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F9F9F9;

 }

 .r-1 {
    padding: 30px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #888;

 }

 .r-2 {
    padding-top: 10px !important;
    padding: 0px 10px;
    margin-top: 10px;
 }

 .r-2 li {
    margin: 0px;
 }

 .r-2 ul {
    display: block;
 }

 .card {
    margin: 5px;
    background-color: #fff;
    border: 1px solid #F9F9F9;
    border-radius: 15px;
 }

 .team p {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
 }

 .overall {
    border-radius: 11px;
    border: 1px solid #888;
    overflow: hidden;
 }

 .buttons {
    width: 230px;
    height: 44px;
    text-align: center;
    padding: 10px;
    background-color: #081828;
    margin: auto;
    border-radius: 6px;
 }

 .buttons a {
    color: #fff;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0px !important;
 }

 /*End of pricing plan  */
 /* Team */
 .ttt {
    background-color: #FFFFFF;
 }

 .teams {
    background-color: #FFFFFF;
 }

 .team {
    text-align: center;
 }

 .content a {
    color: #666;
 }

 .content {
    padding: 8px;
 }

 .ayro {
    display: flex;
    align-items: center;
 }

 .sec {
    display: flex;
    justify-content: space-around;

 }

 .ccc {
    display: block;
 }

 .con-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 ul {
    display: flex;
 }

 /* End Team */

 /* ayro */
 .ayro {
    background-color: #F9F9F9;
 }

 #brand {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
 }

 #brand img {
    height: 150px;
    width: 150px;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 45%;
 }

 #container-3 {
    width: 50%;
    margin: auto;
 }

 .qaqas h4 {
    text-align: center;
 }

 .qaqas span {
    text-align: center;
    display: block;
 }

 .qaqas img {
    border-radius: 100%;
    position: relative;
    left: 48%;
    height: 50px;
    width: 50px;
 }

 .appvilla {
    background-color: rgb(255, 107, 129);
    height: 400px;
    display: flex;
    align-items: center;
 }

 .bt-1 * {
    text-align: justify;
 }

 .butts {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 0px;
 }

 /* End ayro */


 .appvilla {
    display: flex;
    align-items: center;
 }

 /* Faq */
 .area {
    margin-bottom: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    padding: 20px;
 }

 .area i {
    float: right;
 }

 .s-1 {}

 .s-2 {
    border: 1px solid #888;
    border-radius: 100%;
    margin-right: 5px;
    padding: 5px;
 }

 /* End Faq */
 /* Blogs */
 #cont-1 {
    width: 90%;
    margin: auto;
 }

 .Blogs {
    background-color: #F9F9F9;
    padding-bottom: 80px;
 }


 .sm {
    display: flex;
    justify-content: space-between;
 }

 .sm img {
    width: 100%;
 }

 #cont-1 a {
    display: block;
 }

 #cont-1 p {
    color: #888;
 }

 .sm a:nth-child(1) {
    color: rgb(255, 107, 129);
 }

 .sm a:nth-child(2) {
    color: black;
 }

 .bl {
    text-align: center;
    overflow: hidden;
    padding: 50px 0px;

 }

 .cl-1:hover {}

 .cl-2 {
    margin: 0px 13px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 1px 1px 4px #6c757d;


 }

 .cl-1 {}



 /*End Blogs  */

 /* client logo */
 .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
 }

 /* End client logo */
 /* Footer */
 #footer {
    background-color: #081828;
    padding-bottom: 120px;
 }

 .footer-top {
    padding: 100px 0px;
 }

 .left {
    width: 43%;
 }

 .logo img {
    width: 180px;
    margin-bottom: 20px;
 }

 .logo p {
    color: #d2d6dc;
    padding-bottom: 10px;
    font-size: 14px;
    width: 79%;
    line-height: 1.5rem;
 }

 .logo i {
    font-size: 17px;
    color: #d2d6dc;
    padding: 25px 20px;
    padding-left: 0px;
 }

 .logo .two {
    color: #d2d6dc;
    padding-top: 10px;
    font-size: 14px;
    width: 79%;
    line-height: 1.5rem;
 }

 .right {
    width: 67%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
 }

 .right .c-1 {
    display: flex;
    color: #d2d6dc;
 }

 .c-1 a {
    color: #d2d6dc;
 }

 .c-1 li {
    padding: 10px 0px;

 }

 .c-1 ul {
    display: block;
 }

 .c-1 h3 {
    padding: 20px 0px;
 }

 .f {
    display: flex;
 }
.inner-2 {
   display: block;
}
 .inner-content {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d2d6dc;
    border-radius: 8px;
 }

 .input-button * {
    display: flex;
    float: right;
 }

 form {
    position: relative;
    float: right;
 }

.in {
   height: 48px;
   width: 300px;
   padding: 1px 5px;
   border-radius: 6px;
   background-color: #394653;
   color: #fff;
}
.in-1 {
   display: inline-block;
    background: #ff6b81;
    color: #fff;
    height: 48px;
    line-height: 48px;
    padding: 0 30px;
    margin: 0px 10px;
    border-radius: 6px;
}
 /* End Footer */